header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 99;
}
body {
  padding-top: 55px;
  background-color: #f3f3f3;
}
strong {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  padding: 4px 10px;
}
strong.right {
  position: absolute;
  right: 0;
  top: 0;
}
#cfgLogo {
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  outline: none;
}
.row img {
  outline: 3px dashed #ddd;
}
.hide {
  display: none;
}
h3 {
  border-bottom: 1px solid #ddd;
  padding-bottom:3px;
  padding-top: 20px;
}
h5 {
  opacity: 1;
  color: #f78d73;
  margin-bottom: 0;
  text-transform: uppercase;
}
.card {
  align-self: stretch; /* in full screen mode, cards in same row share height */
}
.card .section {
  background-color: white;
}
.card .section small{
  position: absolute;
  right: 2px;
  margin: 2px;
  opacity: .6;
}
.card p {
  line-height:15px;
}
textarea {
  margin: 0px 10px;
  width: calc(100% - 20px);
  background-color: white;
}
.footnote {
  opacity: 0.5;
  font-size: 0.8em;
}
::placeholder {
  opacity: 0.5; /* Firefox */
}

/* TABLE VIEW STUFF */
table:not(.horizontal) {
  max-height: none;
}
table td, table th {
  font-size: 0.85em;
  line-height: 1.35em;
  padding: 8px 12px;
}
table th {
  font-weight: 500;
}
table thead {
  z-index: 0; /* it overlaps header for some reason*/
  border-bottom: 1px solid #bbb;
}
table td code {
  line-height: 14px;
  margin-bottom:10px;
}
table td .tall {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
table td code * {
  display: none;
}

@media screen and (max-width: 767px) {
  table td {
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 1024px) {
  body, header {
    margin-left: 20%;
    margin-right: 20%;
  }
  body.wide, body.wide header {
    margin-left: 10%;
    margin-right: 10%;
  }
  header {
    width: 60%;
  }
  body.wide header {
    width: 80%;
  }
}
